
 body {
    background-color: rgba(224, 55, 26, 0.817);
    margin: 0px
}

nav a {
   margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    text-decoration: none;
    color:rgba(204, 168, 238, 0.192)
}
 


body{
    background-color: rgb(8, 0, 0);
    text-align: center;
}
p {color: rgb(240, 232, 232);}
h1{color:rgb(240, 232, 232)}
li{color:rgb(240, 232, 232)}





.yo digo r tu dices bd{font-style: italic;}



.nopares {
    width: 40%
}

.rebelde {
    width: 40%
}

h1{
    color: aliceblue;
}