element.style {
    border: solid;
 }
 
 


body{
    background-color: red;
    text-align: center;
}
p {color: black;}




.yo digo r tu dices bd{font-style: italic;}



.nopares {
    width: 50%
}
 